body {
    background-color: lightblue;
    font-family: 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
}

span {
    padding: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
	cursor: pointer;
}

.option-image {
    max-block-size: 100px;
}

#play-button {
    height: 48px;
    width: 300px;
    font-family: 'Arial Bold', sans-serif;
	font-size: 18px;
	margin: 2rem;
}

#rps {
    position: fixed;
    opacity: 0;
}
